.qmms5e {
    .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    .qmms5e__header {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: max-content 1fr;
        gap: 20px;

        .qmms5e__AC {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
            min-height: 200px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 120'%3E%3Cpath d='M10 10 L90 10 L80 80 L50 110 L20 80 Z' stroke='%23c00' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            input {
                background-color: transparent;
                width: 4ch;
                font-size: 60px;
                height: auto;
                padding: 0;
                margin-bottom: 30px;
                overflow: visible;
                text-align: center;
            }
        }

        .qmms5e__name {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            margin: 0;
            input {
                margin: 0;
                padding: 0;
                height: auto;
                overflow: visible;
                background-color: transparent;
            }
        }

        .qmms5e__health {
            grid-row: 2 / 3;
            grid-column: 2 / 3;

            .qmms5e__health__split {
                display: flex;
                flex-direction: row;
            }

            .qmms5e__health__bar {
                width: 100%;
                height: 25px;
                background-color: gray;
            }

            .qmms5e__health__bar__fill {
                height: 25px;
                background-color: darkgreen;
            }
        }
    }
    .qmms5e__freetext__edit-toggle {
        &.toggled .qmms5e__freetext__edit-toggle__save-text {
            display: none;
        }
        &.toggled .qmms5e__freetext__edit-toggle__edit-text {
            display: inline;
        }
        &:not(.toggled) .qmms5e__freetext__edit-toggle__edit-text {
            display: none;
        }
    }
}