.qmms5e {
    .qmms5e__header {
        display: grid;
        grid-template-columns: 200px 1fr 100px;

        .qmms5e__AC {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
        }

        .qmms5e__name {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        .qmms5e__CR {
            grid-row: 1 / 2;
            grid-column: 3 / 4;
        }

        .qmms5e__health {
            grid-row: 2 / 3;
            grid-column: 2 / 4;

            .qmms5e__health__bar {
                width: 100%;
                height: 50px;
                background-color: gray;
            }

            .qmms5e__health__bar__fill {
                height: 50px;
                background-color: darkgreen;
            }
        }
    }
    .qmms5e__freetext__edit-toggle {
        &.toggled .qmms5e__freetext__edit-toggle__save-text {
            display: none;
        }
        &.toggled .qmms5e__freetext__edit-toggle__edit-text {
            display: inline;
        }
        &:not(.toggled) .qmms5e__freetext__edit-toggle__edit-text {
            display: none;
        }
    }
}