.qmms {
    input {
        all: revert;
    }

    .qmms__header {
        display: grid;
        grid-template-columns: 200px 1fr 100px;

        .qmms__AC {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
        }

        .qmms__name {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        .qmms__CR {
            grid-row: 1 / 2;
            grid-column: 3 / 4;
        }

        .qmms__health {
            grid-row: 2 / 3;
            grid-column: 2 / 4;

            .qmms__health__bar {
                width: 100%;
                height: 50px;
                background-color: gray;
            }

            .qmms__health__bar__fill {
                height: 50px;
                background-color: darkgreen;
            }
        }
    }
}